<script src='https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js' data-turbolinks-track></script>
<div class="island-content my-4" id="islandPictures">
  <%= link_to :back, class:"back-btn" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <%= image_tag @island.portal_photo, class:"d-block w-100 portal" %>


  <% @island.photos.each do |photo| %>
    <%= image_tag photo, class:"d-block w-100 other" %>

  <% end %>


</div>

<div id="island" class="island-content">


  <div class="description-island">
    <h1>
      <%= @island.name %>
    </h1>
    <p>
      <%= @island.description %>
    </p>
    <p>
      <%= @island.access_transport %>
    </p>
    <p>
      <%= @island.practical_info %>
    </p>
  </div>

  <div class="booking-container">
                <h2 class="header-gradient">Get started now</h2>
                <%= simple_form_for @booking do |f| %>
                    <div class="input-group-container">
                        <div class="input-group gap-1">
                            <%= f.input :start_date,
                                        as: :string,
                                        input_html: { data: { controller: "datepicker" },
                                        class: 'form-select'
                                        },
                                        wrapper_html: { class: 'booking-form' },
                                        label_html: { class: 'input-group-text' }
                            %>
                                        <%# island start %>
                            <%= f.input :start_island_id,
                                        collection: Island.all,
                                        label_method: :name,
                                        value_method: :id,
                                        include_blank: false,
                                        wrapper_html: { class: 'booking-form' },
                                        label_html: { class: 'input-group-text' },
                                        input_html: { class: 'form-select' }
                            %>
                                        <%# island end %>
                            <%# island end %>
                            <%= f.input :end_island_id,
                                        collection: Island.all,
                                        label_method: :name,
                                        value_method: :id,
                                        include_blank: false,
                                        wrapper_html: { class: 'booking-form' },
                                        label_html: { class: 'input-group-text' },
                                        input_html: { class: 'form-select' },
                                        selected: @island.id,
                                        readonly: true,
                                        disabled: true

                            %>
                        </div>
                        <div class="input-group second">
                            <%= f.input :adults, collection: 1..10, selected: 1, wrapper_html: { class: 'booking-form' },
                            label_html: { class: 'input-group-text' },
                            input_html: { class: 'form-select' }
                            %>
                            <%= f.input :kids, collection: 0..10, selected: 0,
                            wrapper_html: { class: 'booking-form' },
                            label_html: { class: 'input-group-text' },
                            input_html: { class: 'form-select' }
                            %>
                            <%= f.input :baggages, collection: 0..10, selected: 0,
                            wrapper_html: { class: 'booking-form' },
                            label_html: { class: 'input-group-text' },
                            input_html: { class: 'form-select' }
                            %>
                            <%= f.input :pets, collection: 0..10, selected: 0,
                            wrapper_html: { class: 'booking-form' },
                            label_html: { class: 'input-group-text' },
                            input_html: { class: 'form-select' }
                            %>
                        </div>
                </div>

              <% if user_signed_in? %>
                <%= f.button :submit, 'Teleport', class: 'btn main-cta-color-BonWup-book' %>
              <% else %>
                <button
                  type="button"
                  class="btn main-cta-color-BonWup-book"
                  data-bs-toggle="modal"
                  data-bs-target="#loginModal"
                >
                  Teleport
                </button>
              <% end %>
            <% end %>
          </div>

</div>












<div class="island-content my-4">
  <div class="map-island"
    data-controller="map-single"
    data-map-single-marker-value="<%= @marker.to_json %>"
    data-map-single-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>
</div>

<div class="island-content my-4">
  <div class="my-3">
    <%= pluralize(@island.reviews.count, "review") %>
  </div>
  <div class="reviews-container">
    <% @reviews.each do |review| %>
      <div class="review-card">
        <% review.rating.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %>
        <p>
          <%= review.comment %>
        </p>
      </div>
    <% end %>
  </div>

</div>


<% unless user_signed_in? %>
  <%= render 'shared/login_modal' %>
<% end %>
