<div class="container-qr">
  <%= link_to "Back", bookings_path, class: "btn btn-primary" %>
	<div class="ticket airline">
		<div class="top">
			<h1>Teleportation pass</h1>
			<div class="big">
				<p class="from"><%= @booking.start_island.abbreviation %></p>
				<p class="to"><i class="fas fa-arrow-right"></i> <%= @booking.end_island.abbreviation %></p>
			</div>
			<div class="top--side">
				<i class="fas fa-plane"></i>
				<p><%= @booking.start_island.assembly_point %></p>
				<p><%= @booking.end_island.assembly_point %></p>
			</div>
		</div>
		<div class="bottom">
			<div class="column-ticket">
				<div class="row-ticket row-1">
					<p><span>Flight</span>AA2005</p>
					<p class="row--right"><span>Gate</span>B3</p>
				</div>
				<div class="row-ticket row-2">
					<p><span>Boards</span>10:25 AM</p>
					<p class="row--center"><span>Departs</span>11:00 AM</p>
					<p class="row--right"><span>Arrives</span>1:05 PM</p>
				</div>
				<div class="row-ticket row-3">
					<p><span>Passenger</span>Jesus Ramirez</p>
					<p class="row--center"><span>Seat</span>11E</p>
					<p class="row--right"><span>Group</span>3</p>
				</div>
			</div>
			<div class="bar--code"></div>
		</div>
	</div>
</div>
