<div class="blogs-container">
  <div style="margin-bottom: 30px;">
    <%# <div data-controller="three-test"> %>
      <%# <canvas class="webgl"></canvas> %>
    <%# </div> %>
    <%# <canvas class="webgl" data-controller="three"></canvas> %>
  </div>
  <div class="blogs mx-auto">
    <% @blogs.each do |blog| %>
      <div class='blog card p-4 rounded-4 shadow-2'>
        <h2><%= blog[:title] %></h2>
        <p class='card-text'><%= blog[:content]%> </p>
      </div>
    <% end %>
  </div>
</div>


<%@reviews.each do |review| %>
  <div class="review">
    <p><strong>Teleporter:</strong> <%= review.booking.user.first_name%> <%= review.booking.user.last_name%></p>
    <p><strong>Rating:</strong> <%= review.rating %>/5</p>
    <p><strong>Comment:</strong> <%= review.comment %></p>
    <p><strong>Island:</strong> <%= review.island.name%></p>
  </div>
<%end %>
