<main class="home">
        <section class="hero-left">
            <div class="hero-left-content">
                <div class="content-left">
                    <canvas class="webgl"></canvas>
                </div>
                <%= image_tag "logo.svg", class: 'floating-logo' %>
            </div>
        </section>

        <section class="about-oni" id="about">
            <div class="about-oni-content">
                <h2 class="secondary-header-style-wh3">What is  ?</h2>
                <div class="about-oni-content-inside" id="about-app">
                    <article class="about-oni-text">
                        <h3>webcup is ...</h3>
                        <p>Lorep.</p>
                        <br>
                        <p></p>
                        <br>
                        <%= link_to "Try webcup  Now", new_user_session_path, class: "btn main-cta-color-onW" %>
                    </article>

                    <article class="about-oni-text-2">
                        <div class="about-oni-text-2-content" id="about-iid">
                            <h3 class="secondary-header-style-wh3">The International webcup </h3>
                            <p>éprem desdc.</p>
                            <br>
                            <p>As a leader .</p>
                            <%= link_to "Get In Touch", "/contact", class: "btn secondary-cta" %>
                        </div>
                        <%= image_tag "logo.svg" %>
                    </article>

                </div>
            </div>
        </section>

        <section class="services">
            <div class="services">
                <h2>How it works ?</h2>
                <div class="container steps-card-container">
                    <article class="steps-card">
                        <i class="fa-sharp fa-solid fa-thought-bubble" style="color: #6184d8;"></i>
                        <h3>Submit your details</h3>
                        <p>Answer quick questions </p>
                    </article>

                    <article class="steps-card">
                        <h3>Receive feedback</h3>
                        <p> detailed feedback.</p>
                    </article>

                    <article class="steps-card">
                        <h3>Take control of webcup</h3>
                        <p>Armed with the knowledge .</p>
                    </article>
                </div>
            </div>
        </section>

        <section class="crazy" id="crazy">
            <div class="crazy-content">
                <h2 class="secondary-header-style-wh3">What's the ??</h2>
                <div class="crazy-content-inside">
                    <article class="crazy-text">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</h3>
                        <br>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit</p>
                        <br>
                        <p>🟣<b>Urna nunc id cursus metus aliquam eleifend mi.</b>🟣</p>
                        <a href="https://crazychicken.maurice.webcup.hodi.host/" class="btn main-cta-color-onW" target="_blank">Talk To A speci</a>
                    </article>

                    <article class="crazy-text-2">
                        <h3 class="secondary-header-style-wh3">podcast </h3>
                        <p>Introducing our new  podcast, designed to help you </p>
                        <br>
                        <p>Aliquam eleifend mi in nulla posuere sollicitudin aliqua.</p>
                        <div class="podcast">
                            <p>poscats</p>

                        </div>
                    </article>

                </div>
            </div>
        </section>

        <section class="personas">
            <div class="oni-who">
                <h2>Who should use  ?</h2>
                <div class="oni-who-card-container">
                    <article class="oni-who-card">
                        <i class="fa-sharp fa-solid fa-thought-bubble" style="color: #6184d8;"></i>
                        <h3>The Explorer</h3>
                        <p>You are intrigued by </p>
                    </article>

                    <article class="oni-who-card">
                        <i class="fa-sharp fa-solid fa-thought-bubble" style="color: #6184d8;"></i>
                        <h3>The Go-Getter</h3>
                        <p>You are driven to achieve your goals </p>
                    </article>

                    <article class="oni-who-card">
                        <i class="fa-sharp fa-solid fa-thought-bubble" style="color: #6184d8;"></i>
                        <h3>The Creative Thinker</h3>
                        <p>for your work. .</p>
                    </article>
                </div>
            </div>
        </section>




        <section class="cta-container">
            <div class="cta-text-content">
                <h3>Whaouh !</h3>
                <p>fgdfgdfgdfgdf.</p>
            </div>
            <%= link_to "Analyze Your crazy Now", new_user_registration_path, class: "btn main-cta-color-BonW" %>

        </section>

        <section class="faq">
            <h2 class="faq-title">FAQ</h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        What is the webcup
                    </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">The webcup organizatio.</div>
                    </div>
                </div>




            </div>
        </section>

    </main>
