<div class='login-form mt-4'>
  <div class="form-logo">
    <%= image_tag "logo-full.svg" %>
  </div>



  <div class= "p-5 mx-auto" style="width: 50%;">
      <h1>Contact us</h1>
      <%= simple_form_for @contact, url: contacts_path do |f| %>
      <%= f.input :name, label: 'Full name' %>
      <%= f.input :email, label: 'Email' %>
      <%= f.input :message, label: 'Message', as: :text %>
      <div class="form-actions">
  <% if @show_checkbox_recaptcha %>
    <%= recaptcha_tags %>
  <% else %>
    <%= recaptcha_v3(action: 'login', site_key: ENV['RECAPTCHA_SITE_KEY_V3']) %>
  <% end %>
    <%= f.button :submit, "Submit your request", class: "btn main-cta-color-BonWup" %>
  </div>
<% end %>

  </div>
</div>
