<div class='login-form mt-4'>
  <div class="form-logo">
    <%= image_tag "logo-full.svg" %>
  </div>



  <div class= "card border-dark mb-3 p-5 mx-auto log-card" style="width: 50%;">
    <div class= "card-body text-dark">
          <h1>Contact us</h1>
          <%= simple_form_for @contact, url: contacts_path do |f| %>
          <%= f.input :name, label: 'Full name' %>
          <%= f.input :email, label: 'Email' %>
          <%= f.input :message, label: 'Message', as: :text %>
          <% if @show_checkbox_recaptcha %>
            <%= recaptcha_tags %>
          <% else %>
            <%= recaptcha_v3(action: 'login', class: 'btn main-cta-color', site_key: ENV['RECAPTCHA_SITE_KEY_V3']) %>
          <% end %>
            <%= f.button :submit, "Submit Your Request", class: 'btn main-cta-color-BonWup' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

